doctype 5
html
  head
    title= title
    script(src='./javascripts/libs/jquery-1.8.3.min.js')
    script(src='./javascripts/libs/bootstrap.min.js')
    script(src='./javascripts/libs/underscore-min.js')
    script(src='./javascripts/libs/backbone-min.js')
    script(src='./javascripts/main.js')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./stylesheets/bootstrap.min.css')
  body
    block content
